<script type="text/x-template" id="create-event">
    <div class="row">
        <div class="col-lg-6" v-if="loading==0">
            <h1>Create new event</h1>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" v-model="name">
            </div>
            <button class="btn" @click="create">Ok</button>
        </div>
        <div class="col-lg-6" v-if="loading==1">
            <div class="spinner"></div>
        </div>
    </div>
</script>