<script type="text/x-template" id="events">
    <div class="row">
        <div class="col-lg-6" v-if="loading==0">
            <h1>Events</h1>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                </tr>
                </thead>
                <tbody>
                <router-link v-for="event in events" :key="event.id" tag="tr" :to="{name: 'show-event', params:{id: event.id}}" style="cursor: pointer;">
                    <td>{{event.id}}</td>
                    <td>{{event.name}}</td>
                </router-link>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6" v-if="loading==1">
            <div class="spinner"></div>
        </div>
    </div>
</script>