<script type="text/x-template" id="show-event">
<div class="row content-row">
    <div class="col-lg-12" v-if="loading==1">
        <div class="spinner"></div>
    </div>
    <div class="overlay" @click="close()" v-if="locked"></div>
    <div class="col-lg-12" v-if="loading==0">
        <router-link to="/events" tag="div" class="back-btn"><< Back</router-link>
    </div>
    <div class="pool-modal" v-if="activepool.active">
        <h2>Manage pool</h2>
        <h3>Name: {{activepool.name}}</h3>
        <h4>Bids:</h4>
        <p v-if="estatus == 0 && isarbitrator">You need to finish an event to be able to set a winner</p>
        <div class="spinner-small" v-if="activepool.loaded == 0"></div>
        <div v-for="bid in activepool.bids" class="bid" v-if="activepool.loaded == 1">
            <p>{{bid.name}} - {{bid.amount}} ETH received</p>
            <button class="btn" v-if="cansetwinner" @click="setwinner(activepool.id, bid.name)">Winner</button>
            <p v-if="activepool.winner">This bid is the winner</p>
        </div>
        <button class="btn" @click="close()">Close</button>
    </div>
    <div class="pool-modal" v-if="currentpool">
        <h4>Pool settings</h4>
        <div class="form-group" id="new-pool-options">
            <label>Options</label>
            <input type="text" v-for="option in currentpool.options" v-model="option.name" class="form-control">
        </div>
        <div class="form-group">
            <label>Minimal amount of bid</label>
            <input type="number" class="form-control" v-model="currentpool.min">
        </div>
        <div class="form-group">
            <label>Maximal amount of bid</label>
            <input type="number" class="form-control" v-model="currentpool.max">
        </div>
        <button class="btn btn-success" @click="createPool">Create</button>
        <button class="btn" @click="close()">Close</button>
    </div>
    <div class="col-lg-5 content-box" v-if="loading==0">
        <h1>{{event.name}}</h1>
        <div class="spinner-small" v-if="mining"></div>
        <h2>Status: {{status}}</h2>
        <p v-if="isarbitrator">You are the arbitrator of this event</p>
        <button class="btn" v-if="canfinish" style="margin-bottom: 10px;" @click="finishevent()">Finish event</button>
        <p>Event id : {{event.id}}</p>
        <p>Contract address: <a target="_blank" v-bind:href="link">{{event.contract}}</a></p>
        <p>Arbitrator: <a target="_blank" v-bind:href="alink">{{arbitrator}}</a></p>
        <p>Fee: {{fee}}</p>
        <p>End block: {{end}}</p>
        <p>(Current block is {{currentblock}})</p>
        <h3>Created pools</h3>
        <p style="color:red;" v-show="poolcreated">Wait until transaction is mined and reload this page to see new pool</p>
        <p v-if="pools.length==0">No pools</p>
        <table class="table" v-if="pools.length>0">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pool in pools" class="pool-tr" @click="setactivepool(pool)">
                <td>{{pool.id}}</td>
                <td>{{pool.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 offset-1" v-show="loading==0" v-if="isarbitrator && estatus == 0">
        <h1>New pool</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Winner</h5>
                        <p class="card-text">Create pool on winner of the match.</p>
                        <a href="#" class="btn btn-primary" @click="setCurrentPool(1)">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Exact match result</h5>
                        <p class="card-text">Create pool on exact result of the match.</p>
                        <a href="#" class="btn btn-primary" @click="setCurrentPool(2)">Create</a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</script>