<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="views/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Panel</title>
</head>
<body>
<?php require_once 'views/components/create-event-component.html'; ?>
<?php require_once 'views/components/events-component.html'; ?>
<?php require_once 'views/components/show-event-component.html'; ?>
<div class="container">
    <div id="app">
        <div class="sidebar">
            <ul>
                <li><router-link to="/events">Events</router-link></li>
                <li><router-link to="/create-event">Create event</router-link></li>
            </ul>
        </div>
        <router-view></router-view>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="views/main.js"></script>
</body>
</html>