* {
    font-family: 'Montserrat', sans-serif;
}
.spinner{
    width: 200px;
    height: 200px;
    background-image: url('/Spinner-1s-200px.gif');
    margin: 0 auto;
}
#new-pool-options input{
    margin-bottom: 10px;
}
.close-pool-btn{
    margin-top: 30px;
}
.content-box{
    background: linear-gradient(to bottom, #e7e7e7 0%,#c1c1c1 41%,#b2b2b2 75%,#a2a2a2 100%);
    border-radius: 19px;
    padding: 20px;
}
.content-row{
    padding-top: 30px;
}
.wrapper{
    height:100%;
}
.wrapper::after{
    clear: both;
    content: '';
    display: block;
}
.sidebar{
    background-color: rgb(61,61,63);
    width: 200px;
    height: 100%;
    position: fixed;
    padding-top: 40px;
}
.sidebar ul{
    padding: 0;
}
.sidebar ul li{
    list-style: none;
    margin-left: 10px;
    padding-left: 10px;
}
.sidebar ul li:hover{
    background-color: rgb(9, 176, 96);
    border-radius: 10px 0px 0px 10px;
}
.sidebar ul li a{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}
.sidebar ul li a:hover{
    text-decoration: none;
}
.sidebar ul li i {
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.events-nav ul{
    padding:0;
    margin: 0;
    padding-left: 50px;
}
.events-nav ul li {
    list-style: none;
    display: inline-block;
    background-color: rgb(214,227,220);
    height: 40px;
    width: 250px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.events-nav ul li a{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.events-nav > ul > .active {
    background-color: rgb(27,218,125);
}
.events-nav ul li a:hover{
    text-decoration: none;
}
#app{
    height: 100%;
}
.events-box{
    background-color: rgb(27,218,125);
    border-radius: 25px;
    padding: 30px;
}
.events-box input{
    background-color: rgb(237, 237, 239);
}
.events-box h2 {
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    line-height: 50px;
}
.soccer-icon{
    background-image: url('../images/soccer.svg');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.event-tr {
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3em;
    background: linear-gradient(to bottom, #e7e7e7 0%,#c1c1c1 41%,#b2b2b2 75%,#a2a2a2 100%);
    height: 50px;
    padding: 10px 0 0 40px;
    margin-bottom: 10px;
}
.event-tr span{
    display: inline-block;
}
.event-tr span:nth-child(2) {
    margin-left: 150px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-width: 500px;
    text-align: center;
}
.error{
    color: red;
    font-weight: bold;
}
.back-btn{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(27,218,125);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: bold;
}
.back-btn:hover{
    cursor: pointer;
}
.overlay{
    background-color: rgba(3, 0, 0, 0.4);
    z-index: 998;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.pool-modal{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    background: linear-gradient(to bottom, #e7e7e7 0%,#c1c1c1 41%,#b2b2b2 75%,#a2a2a2 100%);
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid black;
}