.sidebar {
    position: fixed;
    left: 30px;
    top: 100px;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    list-style: none;
}
.spinner{
    width: 200px;
    height: 200px;
    background-image: url('/Spinner-1s-200px.gif');
    margin: 0 auto;
}